body {
    width: 940px;
    /*diminui a	largura	do conteúdo da	página*/
    margin-left: auto;
    /*afasta o conteudo	do	canto	esquerdo*/
    margin-right: auto;
    /*afasta o conteudo	do	canto	direito*/
    font-family: "Helvetica", "Lucida	Grande", sans-serif;
    color: #3D3D3D;
}

.titulo {
    padding: 10px;
    /*cria	um	espaço	de	respiro	interno	de 10px	para	o	conteúdo	do	título principal*/
    font-size: 32px;
    background-color: #E1EDF2;
}

.subtitulo {
    border-bottom: 2px solid black;
}

figure {
    margin: 30px;
    /*afasta	30px	as	figuras	dos	cantos	da	tela	e	das	caixas	que	vêm	antes	e	depois	delas*/
    padding: 15px;
    /*cria	um	espaço	de	respiro	interno	de	15px	para	o	conteúdo	das	figuras*/
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
}

figcaption {
    margin-top: 10px;
    /*dentro	das	figuras,	afastar	10px	a	legenda	da	imagem*/
}

.matriz-musicdot {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.familia-tupfeln {
    width: 275px;
    float: right;
}

figure img {
    width: 100%;
}